// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$body-bg: #f8fafc;
$border: #E0E0E0;
$secondary-bg: #E8EAF6;
$dark: #37474F;
$medium: #607D8B;
$light: #CFD8DC;
$primary: #00C853;
$primary-light: #69F0AE;
$primary-dark: #388E3C;
$secondary: #FF3D00;
$secondary-light: #FF9E80;
$secondary-dark: #BF360C;
