// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body, .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grid {
    $self: &;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;

    &--full {
        height: 100%;
    }

    &__cell {
        flex: 1;

        &--25 {
            flex: 0 0 25%
        }
    }

    &--gutters {
        margin: 0 0 0 -1em;

        #{ $self }__cell {
            margin: 0 0 0 1em;
        }
    }
}


.grid--column {
    flex-direction: column;
}

@media (max-width: 480px) {
    .grid__cell {
        flex-basis: 100%;
    }
}

main {
    background-color: #FAFAFA;
}

aside {
    background-color: #90A4AE;
}

.column {
    background-color: #B0BEC5;
}
