@import url(https://fonts.googleapis.com/css?family=Nunito);
html,
body,
.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}

.grid--full {
  height: 100%;
}

.grid__cell {
  flex: 1;
}

.grid__cell--25 {
  flex: 0 0 25%;
}

.grid--gutters {
  margin: 0 0 0 -1em;
}

.grid--gutters .grid__cell {
  margin: 0 0 0 1em;
}

.grid--column {
  flex-direction: column;
}

@media (max-width: 480px) {
  .grid__cell {
    flex-basis: 100%;
  }
}

main {
  background-color: #FAFAFA;
}

aside {
  background-color: #90A4AE;
}

.column {
  background-color: #B0BEC5;
}


